.v-message {
  --v-message-bg-color: var(--v-color-primary-light-7);
  --v-message-color: var(--v-color-primary);

  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 12px;
  box-sizing: border-box;
  border-radius: var(--v-border-radius-base);

  background-color: var(--v-message-bg-color);
  color: var(--v-message-color);

  @each $val in primary, success, warning, info, danger {
    &.v-message--$(val) {
      --v-message-bg-color: var(--v-color-$(val)-light-7);
      --v-message-color: var(--v-color-$(val));
    }
  }
  .v-message-icon {
    margin-right: 8px;
    font-size: 12px;
  }
  .v-message-icon--close {
    margin-left: 8px;
  }
}